{% extends "base.html" %}
{% load static %}

{% block title %} Poem - {{ poem.title }} {% endblock %}

{% block style %}
<style>
    #shareIcons i {
        cursor: pointer;
        color: #222f3e;
    }
    i.heart.icon {
        color: #DC143C;
    }
</style>
{% endblock %}

{% block rightMenu %} 
    {% if not user.is_authenticated %}
        <a href="{% url 'account_signup' %}" class="item">Sign up</a>
        <a href="{% url 'account_login' %}" class="item" style="margin-right: 1.14286em;">Login</a>
    {% endif %}
{% endblock %}

{% block body %}
<div class="ui grid">    
    <div style="margin: 0 auto; height: auto; width: 700px;"> 
        <div class="ui bottom fixed borderless menu">   
            <div class="right menu" style="margin-right: auto !important;" id="shareIcons">
                {% if user.is_authenticated %}
                    {% if poem in user.profile.bookmarks.all %} 
                    <a class="item">
                        <i class="bookmark icon js-unbookmarkBtn" data-unbookmark="{{ poem.pk }}"></i>
                    </a>
                    {% else %}    
                        <a class="item">
                            <i class="bookmark outline icon js-bookmarkBtn" data-bookmark="{{ poem.pk }}"></i> 
                        </a>                         
                    {% endif %}
                {% endif %}
                <a class="item" href="https://twitter.com/share?text={{ poem.title }}&url=https://poesy.com.ng{% url 'poem' poem.poet poem.slug %}&hashtags=poesydotcomdotng,poem" style="margin-left: 1.5em; margin-right: 1.5em;">
                    <i class="twitter icon"></i>
                </a>
                <a class="item" href="https://wa.me/?text=https://poesy.com.ng{% url 'poem' poem.poet poem.slug %}" target="_blank">
                    <i class="whatsapp icon"></i>
                </a> 
                <a class="item" href="https://www.facebook.com/sharer/sharer.php?u=https://poesy.com.ng{% url 'poem' poem.poet poem.slug %}" style="margin-left: 1.5em; margin-right: 1.5em;" target="_blank">
                    <i class="facebook icon"></i>
                </a>
            </div>
        </div>
        <div class="topHeader" style="margin-top: 15px;">            
            <div class="ui divider"></div>
            <h1 class="poem-title">{{ poem.title }}</h1>      
            <div class="ui list" style="margin-top: 20px;">
                <div class="item">
                    <a href="{% url 'profile' poem.poet %}" style="display: inline-flex;">
                        {% if poem.poet.image %}
                            <img class="ui circular image" src="{{ poem.poet.image }}" width="48px" height="48px">
                        {% else %}
                            <img class="ui circular image" src="{% static 'images/default_avatar.png' %}" width="48px" height="48px">
                        {% endif %}
                        <div class="content" style="padding-left: 10px; padding-top: 5px;">
                            <div class="header" style="font-size: large;">
                                {{ poem.poet.user.get_full_name }}
                            </div>
                            <div class="description" style="font-size: medium;">
                                <p>
                                    @{{ poem.poet }}
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="right floated meta" id="shareIcons">                        
                        {% if user.is_authenticated %}
                            {% if poem in user.profile.bookmarks.all %} 
                                <a><i class="bookmark icon js-unbookmarkBtn" data-unbookmark="{{ poem.pk }}"></i></a>
                            {% else %}                             
                                <a><i class="bookmark outline icon js-bookmarkBtn" data-bookmark="{{ poem.pk }}"></i></a> 
                            {% endif %}
                        {% endif %}                        
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://poesy.com.ng{% url 'poem' poem.poet poem.slug %}" style="margin-right: 10px; margin-left: 10px;" target="_blank">
                            <i class="facebook icon"></i>
                        </a>
                        <a href="https://twitter.com/share?text={{ poem.title }}&url=https://poesy.com.ng{% url 'poem' poem.poet poem.slug %}&hashtags=poesydotcomdotng,poem" target="_blank">
                            <i class="twitter icon"></i>
                        </a>                        
                    </div>
                    <div class="extra">
                        <div class="left floated meta" style="font-size: small; margin-top: 10px;">{{ poem.published_at|date }}</div>
                        <span class="right floated description" style="font-size: 12px;">In {{ poem.topic }}</span>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
        </div> 
        <div class="poem-body" style="margin-bottom: 50px;">
            <div class="poem" style="padding: 1em 1em;">
                {% autoescape off %}
                    {{ poem.content }}
                {% endautoescape %}                    
            </div>                
            <div class="ui fluid card">
                <div class="extra content">
                    {% if user.is_authenticated %}
                        {% if poem in user.profile.poems.all %}
                            <a href="{% url 'edit_poem' poem.slug %}" style="padding-right: 100px;">Edit <i class="edit icon"></i></a>
                            <!-- <a href="{% url 'edit_poem' poem.slug %}"><i class="trash red icon"></i></a> -->
                        {% endif %}
                    {% endif %} 
                    <!-- <a><i class="comment outline icon"></i></a>                    -->
                    <div class="right floated">
                        <div class="ui list">
                            <div class="item">
                                {% if user.is_authenticated %}
                                    {% if user.profile in poem.liked_by.all %}
                                        <a class="animate-like-Btn"><i class="heart large icon js-unlikeBtn" data-unlike="{{poem.pk}}"></i></a>
                                    {% else %}
                                        <a class="animate-like-Btn"><i class="heart outline large icon animate-like-Btn js-likeBtn" data-like="{{poem.pk}}"></i></a>
                                    {% endif %}                                
                                {% else %}
                                    <a class="login-alert" ><i class="heart large icon animate-like-Btn"></i></a>
                                {% endif %}
                                    <span class="likeNum" style="font-weight: 700;">{{ poem.liked_by.count }}</span>                                 
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>  
        <div class="comment">
            <div id="disqus_thread"></div>
                <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    
                    var disqus_config = function () {
                        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = `{{ poem.id }}` // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                     
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://poesy.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
    </div>
</div> 
<script>    
    $(function(){
        $(document).on('click', '.animate-like-Btn', function(){
            $(this)
                .transition('tada')
            $('.likeNum')            
                .transition('bounce')
        });
    });
</script>
<script id="dsq-count-scr" src="//poesy.disqus.com/count.js" async></script> 
{% endblock %}
