{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block body %}   
<div class="ui grid">    
    <div style="margin: 0 auto; padding: 0 auto; height: auto; width: 700px;"> 
        <h2 style="margin-top: 20px;">{% trans "Settings" %}</h2>
        <!-- Menu -->
        <div class="ui fluid vertical menu" style="color: #1678c2;">
            <a class="item" href="{% url 'edit_profile' %}">{% trans "Edit Profile" %}</a>
            <a class="item active" href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>
            <a class="item" href="{% url 'account_email' %}">{% trans "Change E-mail Address" %}</a>
        </div>
        <!-- Menu ends here -->
        <h3 class="ui dividing header" style="margin-top: 30px;">{% trans "Set Password" %}</h3>  
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set ui segment form" style="margin-bottom: 30px;">
            {{ form.non_field_errors }}
            {% csrf_token %}
            {% for field in form %}
                <div class="required field">                                
                    {{field.errors}}                          
                    <label>{{ field.label }}</label>
                    <div class="ui input {% if field.errors %}error{% endif %}">    
                        {{field}} 
                    </div>
                </div>
            {% endfor %}
            <input type="submit" class="ui blue fluid button" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</div> 
{% endblock %}
