{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block rightMenu %} 
    <!-- <div class="item"> -->
    <a class="item" href="{% url 'account_signup' %}">Sign up</a>
    <a class="item" href="{% url 'account_login' %}" style="margin-right: 1.14286em;">Login</a>
    <!-- </div> -->
{% endblock %}

{% block body %}
<div class="ui grid stackable container">        
    <div class="nine wide column computer tablet only"> 
        <div>
            <h1>Forgot your Password?</h1>
            <div class="description" style="font-size: large;">Don't worry, it happens to the best of us! Just enter your email and we'll perform some magic to restore your account.</div>
          </div>
        <div class="illustrations">  
            <img src="{% static 'images/forgot_password.png' %}" alt="Illustration">
        </div>
    </div>    
    <div class="seven wide column">            
        <div class="ui card fluid" style="padding:20px" >
            <div class="content" style="text-align: center;">
            <h1>Reset Password</h1>
            <div class="description">
                Enter your e-mail to find your Poesy account
            </div>
            <div class="ui divider"></div>
            <div class="column">             
                <form class="ui form" method="POST" action="{% url 'account_reset_password' %}"> 
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">                                
                            {{field.errors}}                          
                            <div class="ui left icon input {% if field.errors %} error {% endif %}">    
                                {{field}}   
                                <i class="envelope icon"></i>
                            </div>
                        </div>
                    {% endfor %}                    
                    <button class="ui fluid blue submit button">Reset My Password</button>                                               
                </form>
                <div class="ui horizontal divider">OR</div>
                <p>
                    Try <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Sign up?</a>
                </p>
                <p style="padding-top: 20px;">
                    Please <a href="#">contact us</a> if you have any trouble resetting your password.
                </p>
            </div>                    
        </div>
        </div>
    </div>
    </div>
{% endblock %}
