{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
<div class="ui grid">    
    <div style="margin: 0 auto; padding: 0 auto; height: auto; width: 700px;">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Password changed successfully! You can now login using your new password.' %}</p>
        <div style="text-align:center;">            
            <p>
                <a class="ui blue mini button" href="{% url 'account_login' %}">Login</a> 
            </p>
        </div>
    </div>
</div>
{% endblock %}
