{% extends 'landing/landing_base.html' %}
{% block title %}About{% endblock %}
{% block body %}
<div class="ui container">
    <div class="ui breadcrumb" style="margin: 7em 0 2em 0;">
        <a class="section">Home</a>
        <i class="right angle icon divider"></i>
        <div class="active section">About</div>
      </div>
</div>

<div class="ui container" style="font-size:large;">
    <h1>Welcome to Poesy, where words matter.</h1>
    <p>
        Poesy is a small community of poetry enthusiasts. 
        It was solely developed with one goal in mind, provide a home for poetry enthusiasts to publish their work, find interesting poems and 
        engage with like minded folks.
    </p>
    <p>
        Poesy is still a work in progress. So we are open to suggestions/feedbacks.
    </p>
    <div style="padding: 2em 0;">
        <h1>A platform built for...</h1>
        <div class="ui large list">
            <div class="item">
                <i class="check circle icon"></i>
                Creative people  
            </div>
            <div class="item">
                <i class="check circle icon"></i>
                Original work        
            </div>
            <div class="item">
                <i class="check circle icon"></i>
                Quality      
            </div>
            <div class="item">
                <i class="check circle icon"></i>
                Engagement       
              </div>
          </div>
    </div>
</div>
{% endblock %}