.hidden.menu {
    display: none;
}
.brand-btn {
    background-color: #4a7059 !important;
    color: #ffffff !important;
}
.errorlist li {
    color: #ee4f5e !important;
}
.welcome-header {
    text-align: center;      
    margin-top: 8em;
}    
h1.ui.welcome.header {
    font-size: 70px !important;
}
.ui.vertical.stripe {
    padding: 3em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}   
.footer.segment {
    padding: 3em 0em;
}
.secondary.pointing.menu .toc.item {
    display: none;
}
.sidebar-right .toc .item .sidebar .icon{
    display: none;
}

@media only screen and (max-width: 700px) {     
h1.ui.welcome.header {
    font-size: 35px !important;
}
.ui.large.very.relaxed.horizontal.list {
    padding: 0px !important;
}
.ui.horizontal[class*="very relaxed"].list > .item:not(:last-child) {
    padding: 0px !important;
}
}