html, body {
    /* font-family: Georgia, 'Times New Roman', Times, serif !important; */
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important; */
    font-size: medium;
    line-height: 1.5;
    color: #222f3e !important;
}
.poem-card {
    display: block;
}
div.center-content {
    margin: 0 auto; 
    padding: 0 auto; 
    height: auto; 
    width: 700px;
}
.avatar-upload {
    margin: 0 auto; 
    width: 150px;
    position: relative;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 15px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input[type='file'] {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    color: #757575;
    /* position: absolute; */
    width: 34px;
    text-align: center;
    margin: 0 auto;
}
.avatar-upload .avatar-preview {
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#illustraion {
    background: url('images/illustration_1.png');
    height: auto;
    width: 20%;
    background-repeat: no-repeat;
}
h1,h2,h3,h4,h5,h6, .head {
    color: #4a7059;
}
#profile-pic {
    width:128px; 
    height:128px;
}
input, textarea, button, .ui .button { 
    border-radius: 0px !important; 
}
.ui.input.error > input {
    background-color: #fff6f6 !important;
    border-color:#e0b4b4 !important;
    color: #9f3a38 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.ui.blue.button {
    background-color: #4a7059 !important;
}
.ui.mini.basic.follow.button {
    border-color: #4a7059 !important;
    font-size: .78571429rem !important;
    color: #4a7059 !important;
    padding: .78571429em 2.1em .78571429em !important;
    font-weight: 800 !important;
    /* box-shadow: 0 1px 2px 0 #4a7059 !important; */
}
.ui.secondary.pointing.menu .active.item {
    color: #4a7059 !important;
}
.errorlist {
    list-style-type:none !important;
}
.errorlist li {
    text-align: left;
    color: #ee4f5e !important;
    margin: 0px !important;
    padding: 0px !important;
}
.ui.menu .item {     
    padding-right: 0px !important; 
}
.ui.menu .right.menu .item i { 
    color: #222f3e !important;
}
.ui.secondary.pointing.menu .active.item {
    border-color: #4a7059 !important;
}
#profile_follows a {
    color: rgba(0, 0, 0, 0.54) !important; 
    font-size: 15.8px !important;
}
div.ui.mini.label.follows_you{
    padding: .2833em .533em !important;
    color: rgba(0,0,0,.54) !important;
    font-weight: 600 !important;
}
.user_list_name {
    width: 150px; 
    overflow: hidden;
    /* white-space: pre-wrap; 
    text-overflow: ellipsis; */
}
table.dataTable.no-footer {
    border-bottom: 1px solid rgba(34,36,38,.1) !important;
}
.paginate_button {
    border: 1px solid rgba(34,36,38,.15) !important;
    line-height: 1 !important;
    margin-left: 0px !important;
    margin-right: 0px !important; 
    border-radius: 0px !important;
}
input[type="search"], select { 
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color:rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color .1s ease,border-color .1s ease;
    margin: 10px;
}
#topicsTable {
    box-shadow: 0 0 0 0 transparent inset !important;
}
@media screen and (max-width: 769px) {
    #logo {
        height: 40px;
        width: auto;
    }
    #shareIcons.right.floated.meta {
        display: none !important; 
    }
    #profileCard img {
        width: 80px;
        height: 80px;
    }
    .header.full_name {
        width: 145px;
    }
    .ui.container .ui.stackable.grid .column div .description{         
        font-size: medium !important;
    }
    .illustrations img{
        height: 199px;
        margin: 0 auto;
        padding: 0 auto; 
        width: auto;
    }
    .poem-title {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 345px) {
    .header.full_name {
        width: 25px;
    }
}